
.login-container {
    text-align: center;
    margin: 50px auto;
    max-width: 500px; /* Increased max-width for a larger box */
    background-color: #f8f9fa; /* Light gray background color */
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2); /* Increased box shadow for a more pronounced effect */
  }
 
  .input-container {
    margin-bottom: 25px;
  }
 
  label {
    display: block;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
  }
 
  input {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 15px;
    border: 2px solid #ced4da; /* Border color for input fields */
    border-radius: 6px;
    outline: none;
  }
 
  /* Highlight border in green when focused */
  input:focus {
    border-color: #28a745;
  }
 
  .login-button,
  .admin-login-button {
    background-color: #4caf50; /* Green color for login button */
    color: #fff;
    padding: 15px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    font-size: 18px;
    margin-bottom: 15px; /* Added margin-bottom for button spacing */
  }
 
  .admin-login-button {
    background-color: #f44336; /* Red color for admin login button */
  }
 
  .register-link {
    color: #007bff; /* Blue color for register link */
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    font-size: 16px;
  }